html {
  height: 100vh;
}

body {
  height: 150vh;
  background: #000;
}

canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: -200px;
  z-index: -1;
}

a:hover, a:visited, a:link, a:active
{text-decoration: none;
color: white;}

.center {
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.container {
    text-align: center;
    color: white;
    z-index: 99;
    padding-top: 130vh;
    padding-bottom: 20vh;
}